@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Poppins:wght@300&family=Raleway&display=swap');

body {
    margin: 0;
    background-image: url(img/Line\ 3.png), url(img/Line\ 6.png);
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}


#select-box{
    width: 20%;
    margin-left: 1050px;
}

#slbox{
    width: 200px;
    height: 50px;
    border: solid 2px black;
    font-size: 20px;
    color: black;
    margin-top: 15px;
}

.listaAlertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}

.listItemAlertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 550px;
    margin-top: 10px;
}
.listItemAlertas p{
    font-size: 20px;
}

.botoes-alertas{
    font-size: 1em;
    border-radius: 0.25em;
    background-color: #7066e0;
    color: white;
    border: 0;
    width:95px;
    height: 30px;

}

.botoes-alertas:hover{
    cursor: pointer;

}

.janela {
    display: flex;
    width: 100vw;
  }
 
  .header-left a {
    text-decoration: none;
    color: white;
  } 
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #9F111B;
    background-color: #101216;
  }

  .header-left img{
    width: 245px;
    height: 80px;
  }

  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: wheat;    
  }

  .cargo {
    color: wheat;
  }
  
  .email {
    color: wheat;
  }
  .navegacao{
    font-size: medium;
  }
  
  .btn-logout h3 {
    margin: 0;
    padding: 0;
    color: wheat;
  } 
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #9F111B;
    color: white;
    border-radius: 2px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 100px;
    cursor: pointer;
  }


h1 {
    position: absolute;
    display: flex;
    left: 40%;
}

#a1{
text-decoration: none;
color: black;
}

#a2 {
    position: absolute;
    display: flex;
    left: 80%;
    top: 2%;
    color: black;
    text-decoration: none;
}

.botoes {
    /* border: solid 1px red; */
    position: absolute;
    display: flex;
    top: 15%;
    left: 92%;
    width: 65px;
    height: 30px; 
}

.botoes :hover{
  background-color: #9F111B;
  color: white;
  cursor: pointer;
}

.botoes button {
    border-radius: 6px;
    position: absolute;
    display: flex;
    width: 25px;
    height: 23px;
    border-color: rgba(0, 0, 0, 0.575);
}

.botoes #btn1 {
    border-radius: 6px;
    position: absolute;
    display: flex;
    width: 25px;
    height: 23px;
}

.botoes #btn2 {
    position: absolute;
    display: flex;
    left: 61%;
    width: 25px;
    height: 23px;
}

.legenda {
    /* border: solid 1px red; */
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 12%;
    left: 23%;
    width: 401px;
    height: 50px;

}

.legenda .bolinha1 {
    position: absolute;
    display: flex;
    border-radius: 100px;
    border: 1px solid rgb(9, 255, 0);
    background-color: rgb(9, 255, 0);
    top: 33%;
    left: 17%;
    height: 15px;
    width: 15px;
}

.legenda .bolinha2 {
    position: absolute;
    display: flex;
    border-radius: 100px;
    border: 1px solid rgb(255, 230, 0);
    background-color: rgb(255, 230, 0);
    top: 33%;
    left: 48%;
    height: 15px;
    width: 15px;
}

.legenda .bolinha3 {
    position: absolute;
    display: flex;
    border-radius: 100px;
    border: 1px solid rgb(255, 123, 0);
    background-color: rgb(255, 123, 0);
    top: 33%;
    left: 71%;
    height: 15px;
    width: 15px;
}

.legenda .bolinha4 {
    position: absolute;
    display: flex;
    border-radius: 100px;
    border: 1px solid rgb(255, 8, 0);
    background-color: rgb(255, 8, 0);
    top: 33%;
    left: 96%;
    height: 15px;
    width: 15px;
}

.estacoes {
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 20%;
    left: 21.5%;
    height: 75%;
    width: 77%;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacoes h3 {
    display: flex;
    left: 20%;
}

/* Isso anima a bolinha */
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.bolinhaAlertaUrgente {
    background-color: #F91A1A;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    animation: animate 0.80s linear infinite;
    position: absolute;
    right: 10%;
    top: 20px;
    z-index: 1px;
}

.bolinhaAlertaEmergente {
    background-color: rgb(238, 255, 0);
    width: 16px;
    height: 16px;
    border-radius: 100px;
    animation: animate 0.90s linear infinite;
    position: absolute;
    left: 90%;
    top: 9px;
    z-index: 1px;
}


.bolinhaAlertaIdeal {
    background-color: rgb(51, 255, 0);
    width: 16px;
    height: 16px;
    border-radius: 100px;
    position: absolute;
    left: 90%;
    top: 9px;
    z-index: 1px;
}

.bolinhaAlertaCritico {
    background-color: rgb(255, 123, 0);
    width: 16px;
    height: 16px;
    border-radius: 100px;
    animation: animate 0.80s linear infinite;
    position: absolute;
    left: 90%;
    top: 9px;
    z-index: 1px;
}


/* Estação Vila Madalena */

.borda1, .borda9{
    position: absolute;
    display: flex;
    top: 5%;
    left: 2%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao1, .estacao9 {
    border: 1px solid red;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -6%;
    left: 1%;
    width: 220px;
    height: 220px;   
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao1 #myChart1, .estacao9 #myChart9{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 2%;
    width: 40%;
    height: 40%;
}

/* Fim estação Vila Madalena */


/* Estação tamanduatei */


#tamanduatei {
    position: absolute;
    display: flex;
    left: 32%;
}

.borda2, .borda10{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 5%;
    left: 27%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao2, .estacao10 {
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: -6%;
    left: 2%;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao2 #myChart2, .estacao10 #myChart10{
    position: absolute;
    display: flex;
    top: 30%;
    right: 2%;
    width: 40%;
    height: 40%;
}

/* Fim Estação Tamanduateí */


/* Estação Sacomã */
#sacoma {
    position: absolute;
    display: flex;
    left: 59%;
}


.borda3, .borda11{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 5%;
    left: 52%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.estacao3, .estacao11 {
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: -4%;
    left: 2%;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao3 #myChart3, .estacao11 #myChart11{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 2%;
    width: 40px;
    height: 40px;
}

/* Fim Estação Sacomã */

/* Estação Alto do Ipiranga */
#altoipiranga {
    position: absolute;
    display: flex;
    left: 80%;
}


.borda4, .borda12{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 5%;
    left: 77%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.estacao4, .estacao12 {
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: -4%;
    left: 2%;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao4 #myChart4, .estacao12 #myChart12{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 2%;
    width: 40px;
    height: 40px;
}

/* Fim Estação Alto do Ipiranga */

/* Estação Santos Imigrantes */

#santosimi {
    position: absolute;
    display: flex;
    top: 40%;
    left: 5%;
}

.borda5, .borda13{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 50%;
    left: 2%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao5, .estacao13{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: -4%;
    left: 2%;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao5 #myChart5, .estacao13 #myChart13{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 2%;
    width: 40px;
    height: 40px;
}

/* Fim Estação Santos Imgrantes */

/* Estação Chakara Klabin */

#chakara {
    position: absolute;
    display: flex;
    left: 32%;
    top: 40%;
}

.borda6 , .borda14 {
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 50%;
    left: 27%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao6 , .estacao14{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: -4%;
    left: 2%;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao6 #myChart6, .estacao14 #myChart14{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 2%;
    width: 40px;
    height: 40px;
}
/* Fim Chakara Klabin */

/* Estação Paraíso */

#paraiso {
    position: absolute;
    display: flex;
    left: 59%;
    top: 40%;
}

.borda7 , .borda15{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 50%;
    left: 52%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.estacao7 , .estacao15 {
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: -4%;
    left: 2%;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao7 #myChart7, .estacao15 #myChat15{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 2%;
    width: 40px;
    height: 40px;
}

/* Fim Estação Paraíso */


/* Estação Brigadeiro */

.estacoes h3 {
    position: absolute;
    display: flex;
    left: 7%;
}

.borda8 , .borda16{
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: 50%;
    left: 77%;
    width: 232px;
    height: 176px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao8 , .estacao16 {
    border: 1px solid red;
    position: absolute;
    display: flex;
    top: -4%;
    left: 10%;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.estacao8 #myChart8, .estacao16 #myChart16{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 10%;
    width: 40px;
    height: 40px;
}

/* Fim Estação Brigadeiro */


