*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(16, 18, 22, 0.97);;
    color: white;
}

header nav{
    width: 450px;
    height: 100%;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 27px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#nome-header{
    height:100%;
    margin-left: 37px;
    font-weight: 600;
    font-size: 45px;
    font-family: 'Inter';
    font-style: italic;
    text-align: center;
}

.container{
    width: 100%;
    height: 500px;
    display: flex;  
    background-color: rgba(16, 18, 22, 0.97);;
    color: white;
}

.container .texto{
    width: 50%;
    height: 100%;
    padding-left: 50px;
}

.container #big-titulo{
    font-size: 60px;
    font-weight: 600;
    width: 450px;
    text-align: left;
}

.container .texto h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

.texto .indicadores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}
.texto .titulo-banner1{
    font-size: 55px;
    font-weight: 600;
}

.texto .texto-indicadores{
    display: flex;
    flex-direction: column;
}

.container .imagens{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#maquina{
    display: flex;
    position: absolute;
    background-image: url("assets/maquina.png");
    background-size: cover;
    border-radius: 200px;   
    height: 240px;
    width: 250px;
    margin-left: 20px;
    margin-top: 180px;
}

#metro{
    position: absolute;
    display: flex;
    background-image: url("assets/metro.jfif");
    background-size: cover;
    border-radius: 200px;
    height: 240px;
    width: 250px;
    margin-top: 20px;
    margin-left: 350px;
}

#qrcode{
    display: flex;
    position: absolute;
    background-image: url("assets/qrcode.jfif");
    background-size: cover;
    border-radius: 200px;
    height: 200px;
    width: 210px;
    margin-top: 310px;
    margin-left: 380px;
}


footer{
    width: 100%;
    height: 100%;
    background-color: rgba(16, 18, 22, 0.97);
    color: white;
    font-size: 20px;
}