
@media only screen and (max-width: 900px){
    body{
        height: 4000px;
    }
    #metro, #maquina, #qrcode{
            display: none;
        }
    
    header nav{
        width: 50%;
    }
    
    .texto #big-titulo{
        font-size: 45px;
        margin-top: 80px;
    }
    
    .integrantes .conjunto{
        width: 15%;
    }
    .conjunto .fotos-integrantes{
        width: 100%;
        border-radius: 120px;
        background-color:rgba(217, 217, 217, 1);
        height: 55%;
    }
    
    #white{
        height: 3850px;
    }

    .container .texto{
        width: 100%;
    }
    .container .imagens{
        display: none;
    }


    #mvv{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 1600px;
    }

    #mvv .mvv-conjunto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 500px;
    }

    #mvv .titulos{
        padding-top: 0px;
    }

    .mvv-conjunto #foto1, .mvv-conjunto #foto2, .mvv-conjunto #foto3{
        width: 70%;
    }

    .desc .desc-titulo{
        margin-left: 80px;
    }

    #mvv .desc p{
        width: 60%;
        height: 150px;
    }


    #objetivo{
        height: 1050px;
    }


    .back .conteudo #foto1,.back .conteudo #foto2{
        height: 50%;
        width: 35%;
    }

    #objetivo .back .quadrado-grande{
        width: 70%;
        height: 950px;
    }

    .back .conteudo{
        height: 80%;
        padding: 0px 100px 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .back .conteudo .texto{
        width: 30%;
        padding: 100px 0px 75px;
    }

    #objetivo h1{
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: -40px;
    }

}